/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	background: url(Blue-Fon.png);
}
.cent {
	  display: flex;
	  justify-content: center;}
div{margin-left: auto;
    margin-right: auto;
	width:100%;
	max-width: 90%;
	background: white; 
    height: 8%;}
th{
	font: 25px/30px Calibri, sans-serif;
		vertical-align: top;
}
table {
	margin-top:2%;
	margin-left: auto;
	width:100%;
	max-width: 50%;
}
html {height: 100%;}

h1{font: 50px/50px Arial, sans-serif;
	margin-left: 50px ;}
h2{font: 40px/30px Arial, sans-serif;
	    margin-top:2%;}
body {
	height: 100%;}

.content {
	color: white;
	margin-left: auto;
    margin-right: auto;
    max-height: 60%;
    max-width:90%;
	width: 100%;
	height: 100%;
	background: url(LandingIntro.png) no-repeat center top / cover;
}
.text {
	font: 20px/20px Calibri,sans-serif;
	margin-left: 100px;
	font-weight: 100;
	max-width: 45%;
}
.h1 {
	font: 100px/100px Arial,sans-serif;
	font-weight: 900;
	margin-left: 10%;
	max-width: 50%;
	margin-top:auto;
	margin-bottom:auto;
}
.h2 {
	font: 100px/100px Arial,sans-serif;
	margin-left: 100px;
	font-weight: 200;
	margin-top:30px;
	max-width: 50%;
}